<div id=content>
	    <section id="who" class="graybg newSec">
	    	<div class="container">
	    	    	<h1 class="text-center">Who We are</h1>
					<p class='col-md-offset-2 col-md-8 text-justify'>Web development – We design and develop both static and dynamic websites that are responsive across all platforms.<br><br>
						App development – We develop native apps for smartphones and tablets. Our apps are scalable, robust and user-friendly as well as being in line with current industry standards and conventions.<br><br>
						Marketing – We can assist and develop whatever marketing needs your idea, website and/or app needs.</p>	
					<p class='col-md-offset-2 col-md-8 text-justify'>
						If you have an idea or proposal that you would like to discuss please get in touch with us HERE.<br><br>
						From our first chat we will work with you to find the solution that fits your needs. Whether you need all of our solutions or just one we can help you.<br><br>
						A member of our team will get back to you as soon as they can.<br><br>
					</p>
			</div>
	    </section>
	    <section id='what' class="newSec whitebg jumptarget">
	    	<div class="container text-center">
	    		<h1>What We Do</h1>
	    		<div class="row">
					<div class="col-md-4">
						<div class="fieldsCard" data-toggle="modal" data-target="#des-modal">
							<p class="largerOnHover image ">
							<span class="faspan fa-stack fa-lg clickable design">
							  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
							  <i class="fa fa-pencil-square-o fa-stack-1x  inner"></i>
							 </span>
							</p>
							<div class="lable clickable">
								Design
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fieldsCard" data-toggle="modal" data-target="#ux-modal">
							<p class="largerOnHover image">
							  <span class="faspan fa-stack fa-lg clickable ux">
							  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
							  <i class="fa fa-eye fa-stack-1x  inner"></i>
							 </span>
							</p>
							<div class="lable clickable">
								Usability / UX
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fieldsCard" data-toggle="modal" data-target="#arch-modal">
							<p class="largerOnHover image">
							  <span class="faspan fa-stack fa-lg clickable arch">
							  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
							  <i class="fa fa-puzzle-piece fa-stack-1x inner"></i>
							 </span>
							</p>
							<div class="lable clickable">
								Architecture
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class='fieldsCard' data-toggle="modal" data-target="#mark-modal">
							<p class='largerOnHover image'>
							  <span class="faspan fa-stack fa-lg clickable marketing">
							  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
							  <i class="fa fa-users fa-stack-1x  inner"></i>
							 </span>
							</p>
							<div class='lable clickable'>
								Marketing
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class='fieldsCard'>
							<p class='largerOnHover image' data-toggle="modal" data-target="#dev-modal">
								<span class="faspan fa-stack fa-lg clickable develop">
							  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
							  <i class="fa fa-code fa-stack-1x inner"></i>
							 </span>
							</p>
							<div class='lable clickable'>
								Development
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class='fieldsCard'>
							<p class='largerOnHover image' data-toggle="modal" data-target="#dep-modal">
								<span class="faspan fa-stack fa-lg clickable deploy">
							  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
							  <i class="fa fa-rocket fa-stack-1x  inner"></i>
							 </span>
							</p>
							<div class='lable clickable'>
								Deploy
							</div>
						</div>
					</div>
				</div>
			</div>
	    </section>
	    <section id='clients' class="graybg newSec jumptarget">
	    	<div class='row text-center'>
	    		<h1 class="text-center">Clients</h1>
	    		<div class="col-md-4 clickable clients" ng-click="lib=true; rip=false;inout=false"><img src="imgs/libero.png"></div>
	    		<div class="col-md-4 clickable clients" ng-click="lib=false; rip=true;inout=false"><img src="imgs/ripple.png"></div>
	    		<div class="col-md-4 clickable clients" ng-click="lib=false; rip=false;inout=true"><img src="imgs/inandout.png"></div>	
	    	</div>
	    	<div class='row text-center' id='showcase'>
	    		<div id='monitorDiv'>
					<div id='monitor'>
						<div id='monitorCam'></div>
						<div id='monitorScreen'>
							<img  id='lib' src="imgs/libero_monitor.png" ng-show='lib'>
							<img id='ripMonScreen' src="imgs/ripmon.png" ng-show='rip'>
							<img id='inMon' src="imgs/inmon.png" ng-show='inout'>
						</div>
						<div id='monitorButton'></div>
					</div>		
					<div id='topStand'><div id='trap'></div></div>
					<div id='bottomStand'></div>
				</div>
				<div id="case">
					<div id="earsection">
						<div id="camera"></div>
						<div id="speaker"></div>
					</div>
					<div id="screen">
						<img id='liberoPhoneScreen' src="imgs/libero_screen.png" ng-show='lib'>
						<img id='ripPhoneScreen' src="imgs/ripphone.png" ng-show='rip'>
						<img id='inPhone' src="imgs/inphone.png" ng-show='inout'>
					</div>
					<div id="button"></div>
				</div>
	    	</div>
	    </section>
	    <section id='contact' class="newSec darkbg text-center jumptarget">
	    	<h1 class="whitetext">Contact us</h1>
	    	<div class="container">
		    	<div class="row  whitetext">
		    		<div class="col-md-5 col-md-offset-1 col-sm-offset-1 col-sm-8 text-left pdtp20">
		    			<form name="registrationForm" data-ng-submit="submitForm()" novalidate>
			                <div class="form-group">
			                    <label class="col-md-4 col-sm-6 col-xs-2 nopd">Name</label><div data-ng-show="registrationForm.username.$pristine" class="help-block col-md-8 col-sm-6 col-xs-10">Your name is required</div>
			                    <input type="text" name="username" class="form-control" data-ng-model="user.username" required>
			                </div>
			                <div class="form-group">
			                    <label class="col-md-4 col-sm-6 col-xs-2 nopd">Email</label><div data-ng-show="registrationForm.email.$pristine" class="text-left col-md-8 help-block col-sm-6 col-xs-10">Your email is required</div>
			                    <input type="email" name="email" class="form-control" data-ng-model="user.email" required>
			                    
			                </div>
			                <div class="form-group">
			                    <label>Message</label>
			                    <textarea ng-model="formData.inputMessage" class="form-control" rows="5" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>

			                </div>
			 				<p class="nopd" data-ng-show="registrationForm.$error.email">Please use a valid email address</p>
			                <button type="submit" class="btn btn-primary" data-ng-disabled="registrationForm.$invalid">Send</button>
		    		</div>
		    		<div class="col-md-5 col-sm-8 col-sm-offset-1 col-md-offset-0 text-left pdtp20">
		    			<p class="nopd">
		    				Contact us for advice, collaborations or general queries
							<br>Dublin Office
							<br>Suite 5
							<br>32 Sandyford Office Park
							<br>Sandyford
							<br>Dublin 18
							<br>Co.Dublin
							<br>Email: hello@xlr8solutions.com
		    			</p>
		    		</div>
		    	</div>
		    </div>
	    </section>
	    <section id="map"></section>
	    <div id='spacer'></div>


	</div>



	<div class="modal fade" id="mark-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class='modalimg image'>
					  <span class="faspan fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
						  <i class="fa fa-users fa-stack-1x  inner"></i>
					 </span>
					</p>
					<p class='modalwords'>
						Marketing is all about attracting new users and giving user’s quality content that will want them to use the app on a regular basis. The brand will be made up of attributes, market positioning, targeted customers, iconology, a logo, tagline etc. Every customer will have their own unique needs. We provide a variety of options that include social media, co-marketing, SEO, pay for advertising, PR, shareability and so on.
					</p>
                </div>
            </div>
        </div>
    </div>




    	<div class="modal fade" id="ux-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class='modalimg image'>
					  <span class="faspan fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
						  <i class="fa fa-eye fa-stack-1x  inner"></i>
					 </span>
					</p>
					<p class='modalwords'>
						Everything we do, we have the end user journey at the fore front of our minds. The user experience is our number one priority. Our aim is to make everything as simple as it can be, as intuitive as possible and this covers all aspects of an app from on-boarding to registration to general usage and navigation. First, we build our apps and websites in wireframes before handing over to the designers.
					</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="arch-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class='modalimg image'>
					  <span class="faspan fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
						  <i class="fa fa-puzzle-piece fa-stack-1x inner"></i>
					 </span>
					</p>
					<p class='modalwords'>
						All websites and apps need to be dynamic, responsive and scalable. We examine all of the relevant growth aspects before we move into the development phase. A well designed architect plan is looking forward at growth challenges and examining how best to overcome potential user bottlenecks.
					</p>
                </div>
            </div>
        </div>
    </div>

    	<div class="modal fade" id="dev-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class='modalimg image'>
					  <span class="faspan fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
						  <i class="fa fa-code fa-stack-1x inner"></i>
					 </span>
					</p>
					<p class='modalwords'>
						We develop websites and native apps that can be downloaded from both the Apple and Google App stores. Nothing is complete until we have thoroughly tested it! This includes internal alpha testing as well as user beta testing. When we’re happy with all of the results we can go into the deployment phase.
					</p>
                </div>
            </div>
        </div>
    </div>

    	<div class="modal fade" id="dep-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class='modalimg image'>
					  <span class="faspan fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
						  <i class="fa fa-rocket fa-stack-1x  inner"></i>
					 </span>
					</p>
					<p class='modalwords'>
						We submit the apps to both Google Play and the Apple App store. Once we get the all clear the app is available to be downloaded to a smartphone or tablet and we let loose on discoverability and marketing.
					</p>
                </div>
            </div>
        </div>
    </div>

    	<div class="modal fade" id="des-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                   <p class='image modalimg '>
						<span class="faspan fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x fa-inverse big"></i>
						  <i class="fa fa-pencil-square-o fa-stack-1x  inner"></i>
						</span></p>
					<p class='modalwords'>
						We believe in a balance between a good looking app and a simple to navigate user experience. Our in house design team turn the initial wireframes into mock ups with various different samples of what the app will look like when it is completed. At this stage we flesh out aspects such as colour schemes, logos, styles & fonts. The designs and user experience are tested by users prior to any development work commencing.
					</p>
                </div>
            </div>
        </div>
    </div>